<?xml version="1.0"?>
<config>
	<default>
		<EXAMPLE>
			<SAMPLE>
				<ENABLED>1</ENABLED>
			</SAMPLE>
		</EXAMPLE>
	</default>
    <modules>
        <Mygento_Ajaxcart>
            <version>0.1.0</version>
        </Mygento_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Mygento_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>mygento/ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
		<!--<events>
            <review_controller_product_init_after>
                <observers>
                    <ajaxcart_review>
                        <class>ajaxcart/observer</class>
                        <method>addCartReview</method>
                    </ajaxcart_review>
                </observers>
            </review_controller_product_init_after>
        </events>-->
    </frontend>
    
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mygento_Ajaxcart>
							<title>Ajaxcart Module</title>
							<sort_order>10</sort_order>
						</Mygento_Ajaxcart>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ajaxcart>
					<file>ajaxcart.xml</file>
				</ajaxcart>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxcart>
                <class>Mygento_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>Mygento_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <ajaxcart>
                        <table>ajaxcart</table>
                    </ajaxcart>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Mygento_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Mygento_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Mygento_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
</config>